.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .navbar__item {
    margin-left: auto;
  }

  .navbar__item__last-operation {
    display: block;
    padding: 5px;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    border: none;
    background: var(--vt-c-light-green);

    img {
        width: 25px;
        height: 25px;
    }
  }
}