.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .user {
        display: flex;
    }

    .navbar__item__last-operation {
        height: 35px;
        width: 35px;
        padding: 7px;
        border-radius: 100px;
        border: none;
        background: var(--vt-c-light-green);
    }
}