.button__container {
    padding: 18px;
    border: none;
    font-weight: 500;
    color: var(--vt-c-white);
    border-radius: var(--vt-default-radius);
    background: var(--vt-c-green-gradient);
}